<div class="card">
    <div class="card-header">
        Answer
    </div>
    <div class="card-body">
        <h5 class="card-title">Question</h5>
        <p class="card-text"><%- answer %></p>
    </div>
</div>